/* ========== Variables ========== */
:root {
  --pink: #ff66c4;
  --yellow: #ffdd5a;
  --light: #ffffff;
  --dark: #000000;
  --accent: rgba(243, 115, 121, 0.7);
  --accent-full: rgba(243, 115, 121, 0.8);

  --header-height: 3.5rem;
}

/* ========== Broilerplate ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

/* ========== Global Styles ========== */
.link {
  display: inline-block;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--accent-full);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ========== Header ========== */
header {
  height: var(--header-height);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: 500;
  position: sticky;
  top: 0;
}

.hamburger-menu {
  display: block;
  visibility: hidden;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.call-and-cart ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header button {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
  .nav-items {
    gap: 2rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
    visibility: visible;
  }

  .hamburger-close-btn {
    display: none;
  }

  .hamburger-menu-active .hamburger-close-btn {
    display: flex;
  }

  .hamburger-menu-active .hamburger-open-btn {
    display: none;
  }

  .nav-items {
    /* visibility: hidden; */
    flex-direction: column;
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding: 2rem;
    background: var(--light);
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  .nav-items-active {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ========== Hero ========== */
.hero-section {
  height: calc(100vh - var(--header-height));
  background: url("../images/img1.jpg") no-repeat center 32%;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-text {
  margin: 0 4rem;
  padding: 2.5rem;
  max-width: clamp(25rem, 42%, 35rem);
  background: var(--accent);
  color: var(--light);
  letter-spacing: 0.04em;
  transform: all 0.3s;
}
.hero-text:hover {
  background: var(--accent-full);
}

.hero-heading {
  font-size: 3rem;
  font-weight: 500;
}

.hero-para {
  margin: 0.75rem 3.5rem 0 0;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 300;
}

@media only screen and (max-width: 1024px) {
  .hero-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-text {
    max-width: clamp(25rem, 50%, 35rem);
  }
  .hero-para {
    margin: 0.75rem 0rem 0 0;
  }
}

@media only screen and (max-width: 640px) {
  .hero-text {
    margin: 0 3rem;
    padding: 2rem;
  }
}

/* ========== Order-Now ========== */
.order-now-section {
  padding: 8rem 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background: linear-gradient(to right, var(--pink), var(--yellow));
  text-align: center;
}

.section-heading {
  font-size: clamp(2.5rem, 8vw, 3rem);
  letter-spacing: 0.05em;
  color: var(--light);
}

.order-now-cards-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.order-now-card {
  width: 18rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light);
  color: var(--dark);
  border-radius: 0 4.3rem 0 4.3rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.order-now-card:hover {
  /* box-shadow: 4px 6px 8px hsl(0deg 0% 0% / 0.36); */
  box-shadow: rgba(243, 115, 121, 0.4) 3px 3px, rgba(243, 115, 121, 0.3) 6px 6px,
    rgba(243, 115, 121, 0.2) 9px 9px, rgba(243, 115, 121, 0.1) 12px 12px,
    rgba(243, 115, 121, 0.05) 15px 15px;
}

.order-now-card-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0 4rem 0 0;
}
.order-now-card-header {
  margin-top: 1.2rem;
}
.order-now-card-text {
  margin-top: 0.6rem;
  padding: 0 0.5rem;
  font-size: 0.95rem;
}

.section-cta-button {
  width: max-content;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  transition: color 0.3s;
}

.section-cta-button:hover {
  background: var(--accent);
  outline: 1px solid var(--dark);
}

@media only screen and (max-width: 768px) {
  .order-now-section {
    padding: 5rem 2.5rem 5rem;
  }
  .order-now-cards-container {
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .order-now-section {
    padding: 5rem 2rem 5rem;
  }
  .order-now-cards-container {
    gap: 3rem;
  }
  .order-now-card {
    padding: 1.3rem;
  }
  .section-cta-button {
    padding: 0.8rem 3rem;
    font-size: 1.1rem;
  }
}
