/* ========== Variables ========== */
:root {
  --pink: #ff66c4;
  --yellow: #ffdd5a;
  --light: #ffffff;
  --dark: #000000;

  --header-height: 3.5rem;
}

/* ========== Broilerplate ========== */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

/* ========== Header ========== */
header {
  height: var(--header-height);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  color: var(--dark);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.hamburger-menu {
  visibility: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.call-and-cart ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

/* ========== Hero ========== */
.hero-section {
  height: calc(100vh - var(--header-height));
  background: url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 32%;
  display: flex;
  align-items: center;
}

.hero-text {
  margin-left: 4rem;
  padding: 2.5rem;
  max-width: clamp(10rem, 42%, 32rem);
  background: rgba(243, 115, 121, 0.7);
  color: var(--light);
}
.hero-heading {
  font-size: 3rem;
  font-weight: 600;
}
.hero-para {
  margin: 0.75rem 5rem 0 0;
  font-size: 1.1rem;
  line-height: 140%;
  font-weight: 300;
}
